

<div id="mini-image">
  <%= link_to(image_tag("#{@book.small_image_url}"), @book.amazon_url) %>
</div>

<div class="clearfix"></div>

<div id="book-form">
	<%= form_for @book do |f| %> 

	 <%= f.label "title text" %>
	 <%= f.text_field :title %>

	 <%= f.label :author %>
	 <%= f.text_field :author %>

	 <%= f.label :title %>
	 <%= f.text_field :title %>

	 <%= f.label :edition %>
	 <%= f.text_field :edition %>

	 <%= f.submit "Add My Book" %>

<% end %>
</div>